# Python
__pycache__/
*.pyc

# Local databases
*.sqlite3

# Env files
.env
.env.*
!.env.example

# Access binaries (don’t commit)
*.accdb
*.mdb
*.laccdb
*.xlsx


*.docx
Legacy/
*.log
media/
staticfiles/
# Recovery artifacts
*.RECOVERED.py


# local exports
exports/

